
.root {
    -fx-background-image: url(http://worldartsme.com/images/tree-clipart-1.jpg);
    -fx-background-size: 600px;
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, white 0%, skyblue 20%, blue 80%, green 100%);
}

.text-field {
    -fx-background-radius: 50px;
}

.button {
    -fx-background-radius: 50px;
}

.choice-box {
    -fx-background-radius: 100px;
}